# dependencies
node_modules/

# env & secrets
.env
*.env
.env.local
.env.*.local
!.env.example

# build output
dist/
build/

# uploads
server/uploads/*
!server/uploads/.gitkeep

# prisma
server/prisma/*.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# logs & OS
*.log
.DS_Store
Thumbs.db

# test artifacts
test-results/
playwright-report/
client/src/**/*.js
client/tests/**/*.js
